<ion-view view-title="{{title}}">
  <ion-content class="padding">
    <h1 class="weatherTitle">Pop Météo</h1>
    <form class="list" ng-submit="search(city)">
      <label class="item item-input">
        <input type="text" placeholder="Ville" ng-model="city">
      </label>
      <button class="button button-full button-energized">
        <i class="icon ion-ios-search-strong"></i>

        Rechercher
      </button>
    </form>
    <button class="button button-full button-assertive">
      <i class="icon ion-ios-location"></i>
      Me geolocaliser
    </button>
  </ion-content>
</ion-view>
