/* Empty. Add your own CSS if you like */
ion-view{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherTitle{
  color: white;
  text-shadow: 1px 4px grey;
  text-transform: uppercase;
  font-size: 4em;
  font-style: Helvetica;
  text-align: center;
  border-style: dashed;
  font-weight: bold;
}

.temps{
  padding: 10px;
  text-shadow: 1px 4px grey;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  font-style: Helvetica;
  text-align: center;
}

.desc{
  text-shadow: 1px 4px grey;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-style: Helvetica;
  text-align: center;
}


.item-complex .item-content, .item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 49px 16px 16px;
  border: none;
  background-image: url("../img/background.jpg");
  background-color: blue;
  color: white;
  text-shadow: 1px 2px grey;

}

.menu-left {
  left: 0;
  background-image: url("../img/background.jpg");
}

.item-input{
  background-image: url("../img/background.jpg");
  border: 0px;
}

input[type='text']{
  border: 0;
  color: white;
  text-align :center;
  font-weight: bold;
  text-shadow: 1px 1px grey;

}

.ion-ios-search-strong{
  color: white;
  text-shadow: 1px 1px grey;

}

.dark {
  background-image: url("../img/background.jpg");
  color: white;
  border: 0px;
  text-shadow: 1px 2px grey;

}

a{
  color: white!important;
  text-shadow: 1px 1px grey;

}

ion-content{
  text-align: center;
}

.white{
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px grey;
  text-transform: uppercase;
}
